# On ignore les fichiers compilés par Python
__pycache__/
*.pyc

# On ignore l'environnement virtuel (le plus important !)
venv/
.venv/
env/
../../venv/

# On ignore les fichiers de base de données locaux
*.sqlite3